.card {
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
    cursor: pointer;
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: .6s linear;
    backface-visibility: hidden;
}

.card:hover .face.front {
    transform: rotateY(180deg);
}

.card .face.back {
    transform: rotateY(180deg);
}

.card:hover .face.back {
    transform: rotateY(360deg);
}

.card .face.front::before {
    content: '';
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
}

.card .face.front::after {
    content: '';
    position: absolute;
    bottom: 40px;
    right: 80px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.7;
}

.card .face.front .bankcard {
    position: absolute;
    top: 30px;
    left: 40px;
    color: #fff;
    font-weight: 500;
}

.card .face.front .bank {
    position: absolute;
    top: 25px;
    right: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
}

.card .face.front .chip {
    position: absolute;
    top: 80px;
    left: 50px;
    max-width: 64px;
}

.card .face.front .number {
    position: absolute;
    bottom: 130px;
    left: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 18px;
    text-shadow: 0 2px 1px #0005;
    font-family: 'Orbitron';
}

.card .face.front .valid {
    position: absolute;
    bottom: 90px;
    left: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
}

.card .face.front .valid span:last-child {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.card .face.front .cardHolder {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
}

.card .face.back .blackbar {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background-color: #000;
}

.card .face.back .ccvtext {
    position: absolute;
    top: 120px;
    left: 30px;
}

.card .face.back .ccvtext h5 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .face.back .ccvtext .whiteBar{
    position: relative;
    width: 400px;
    height: 40px;
    background-color: #fff;
    margin-top: 5px;
}

.card .face.back .ccvtext .ccv{
    position: relative;
    top: -35px;
    left: 395px;
    width: 50px;
    height: 30px;
    color: #111;
    background-color: #ccc;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .face.back .text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color: #fff;
    font-size: 10px;
    line-height: 1.4em;
    font-weight: 300;
}