.hidden__content {
    @apply absolute 
    bg-[#1f1340] 
    before:absolute 
    before:top-[-40px] 
    before:h-12 
    before:w-1/2 
    after:absolute 
    after:hidden
    after:bottom-full 
    after:border-8 
    after:border-b-menuItemBackground 
    after:border-l-transparent 
    after:border-r-transparent 
    after:border-t-transparent 
    grid 
    w-max 
    h-max 
    duration-300 
    top-full 
    opacity-0 
    invisible 
}

.hidden__content--right {
    @apply -left-4
}

.hidden__content--left {
    @apply -right-4
}

.hidden__content--show {
    @apply top-[calc(100%+20px)] opacity-100 visible
}

/* TITLE */
.content__title {
    @apply relative
    block
    after:absolute
    after:left-0
    after:top-[calc(100%+2px)]
    after:h-[1px]
    after:w-0
    after:bg-slate-200
    after:duration-300
    duration-300
    hover:after:w-full
    hover:translate-x-[6px]
    font-semibold
    text-slate-300
    hover:text-slate-100
}